/* HOVER EFFECTS */
.grow { transition: all .2s ease-in-out; 
    transform-origin: 50% 50%;}
.grow:hover { 
    transform: scale(1.15); 

}

.underline {
    position: relative;
}

.underline:before, .underline:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  .underline:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .underline:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .underline:hover:before, a:hover:after, a:focus:before, a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .underline:hover:before, a:focus:before {
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .underline:hover:after, a:focus:after {
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

/* LANDING PAGE */


body {
    background-color: #F6F6F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.landing-nav {
    /* height: 50px; */
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px;
}

.landing-nav img{
    height: 30px;
}

.landing-menu {
    float: right;
    /* display: inline-block; */
    margin-top: 5px;
}
.landing-menu a{
    color: #fff;
    font-size: 15px;
    display: inline-block;
}
.landing-menu a:last-child{
    margin: 0px 0px 0px 25px;
}
.landing-menu div{
    display: inline-block;
}
.landing-menu a:hover{
    text-decoration: none;
}

.hero-carousel {
    background-color: #000000;
    max-height: 900px;
    overflow: hidden;
}

.hero-carousel .slick-slide{
    position: relative;
}

.hero-carousel img{
    width: 100%;
    max-height: auto;
    opacity: 0.57;
}

.hero-carousel .slick-arrow{
    display: none;
}

.hero-content-wrapper{
    position: relative;
}
.hero-content {
    font-size: 8px;
    position: absolute;
    top: 25%;
    margin-left: 7em;
    color: #fff;
    width: 70%;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 500ms;
}

.combined-logo{
    width: 20em;
    margin: 0 auto;
}

/* Tiny devices (phones, 480px and up) */
@media (min-width: 480px) {
    body {
        font-size: 14px;
    }
    .hero-content { 
        font-size: 10px;
    }
    .landing-nav {
        padding: 40px;
    }
    .hero-carousel .slick-arrow{
        display: block;
    }
    .landing-nav img{
        height: auto;
    }
    .landing-menu {
        margin-top: 13px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .hero-content { 
        font-size: 13px;
    }
    .landing-nav {
        padding: 40px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-content { 
        font-size: 15px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-content { 
        font-size: 16px;
    }
}

.slick-active .hero-content {
    opacity: 1;
}

.hero-title {
    font-size: 4em;
    font-weight: 700;
}

.hero-description {
    margin-top: 0.7em;
    font-size: 2.3em;
    font-weight: 700;
}

.dots-container {
    position: relative;
    top: -5em;
    margin-bottom: -20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.hero-dots li {
    /* text-indent: -9999px;
    overflow:hidden; */
    display: inline-block;
    background-color: #ffffff6c;
    height: 15px;
    width: 15px;
    z-index: 10;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.hero-dots li.slick-active {
    background-color: #ffffff;
}

.slick-prev, .slick-next { 
    position: absolute;
    z-index: 2;
    top: 45%;
    cursor: pointer;
}
.slick-prev:before, .slick-next:before {
    font-family: "Glyphicons Halflings", "slick", sans-serif;
    font-size: 40px;
    color: #fff;
}
.slick-prev:before { content: "\e257"; }
.slick-next:before { content: "\e258"; }
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}

.landing-section {
    position: relative;
    background-color: #fff;
    top: -40px;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.14);
    margin-bottom: 30px;
    padding: 25px;
    font-size: 14px;
}

.subpage-section {
    background-color: #fff;
    top: -40px;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.14);
    margin-bottom: 30px;
    padding: 25px;
    font-size: 14px;
}

.landing-bar {
    padding: 20px 5px 20px 5px;
    background-color: #3D9C9F;
}

.landing-bar-link {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    font-size: 14px;
}
.landing-bar-link:hover{
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.57);
    transform: translateY(-5px);
    /* transition: all 0.3s ease 0s; */
}
.landing-bar a:hover{
    text-decoration: none;
    color: #fff;
}

.landing-title-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.landing-title-line {
    border-bottom: #E5E5E5 solid 2px;
    width: 50px;
    display: inline-block !important;
    margin-bottom: 7px;
}

.landing-title {
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin: 0 5px 0 5px;
}

.landing-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #ACACAC;
    letter-spacing: 1px;
}

.services {
    margin-top: 40px;
}

.service {
    text-align: center;
}

.service-icon {
    max-height: 60px;
}

.service-title {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 700;
}

.service-description {
    margin-top: 10px;
    font-size: 14px;
    padding: 0 30px;
}

.landing-sm-title {
    text-transform: uppercase;
    display: inline-block;
    color: #242424;
    font-size: 15px;
}

.landing-sm-line {
    margin-top: 7px;
    border-top: 1px solid #979797;
    max-width: 50px;
}

.landing-clients {
    padding-top: 25px;
}

.landing-clients img{
    height: 50px;
    width: auto;
    margin: 0px 15px 0px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.client-arrow:before, .client-arrow:before {
    color: #dbdbdb;
}

.client-arrow.next{
    top: 10px;
}

.client-arrow.prev{
    top: 10px;
}

/* Tiny devices (phones, 480px and up) */
@media (min-width: 480px) {
    .hero-description {
        margin-top: 0.2em;
        font-size: 2em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .landing-clients {
        padding: 10px 50px 10px 50px;
    }
    .service-description{
        padding: unset;
    }

    .hero-title {
        font-size: 4em;
    }
    
    .hero-description {
        margin-top: 0.7em;
        font-size: 2.2em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-title {
        font-size: 5em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* SUPPAGE */
.hero-subpage {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    min-height: 250px;
    background-size: cover;
    background-position: center;
}
.hero-subpage img {
    opacity: 0.4;
    width: 100%;
    min-height: 250px;
}
.hero-overlay{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.subpage-description{
    text-align: center;
    font-size: 1.4em;
    padding: 2em;
}

.hero-subpage-content {
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.subpage-title {
    font-size: 2.5em;
    font-weight: 700;
}

.subpage-subtitle {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.subpage-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.14);
    margin-bottom: 30px;
    /* padding: 25px; */
}

.subpage-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.container.subpage-button{
    text-align: center;
    padding: 40px 0px 100px 0px;
}

a.subpage-back {
    background-color: #3D9C9F;
    padding: 15px 50px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
a.subpage-back:hover{
    text-decoration: none;
}

.card-content {
    text-align: center;
    padding: 15px 0px 15px;
}

.card-title {
    font-size: 18px;
}

/* VALUE CHAIN */

.value-chain img {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.value-items {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 35px;
    border-top: 2px solid #F4F4F4;
}

.value-description {
    background-color: #33C590;;
    color: #fff;
    margin-bottom: 35px;
    padding: 15px;
    border-radius: 4px;
}

.value-item {
    text-align: left;
    border-left: 5px solid #33C590;
    font-size: 1.15em;
}

.value-results {
    font-size: 1.25em;
}

/* COMPLIANCE */

.compliance>.landing-sm-title {
    margin-bottom: 25px;
}

.scroll-image {
    width: 100%;
    overflow: scroll;
}

.compliance img {
    width: 100%;
    min-width: 900px;
    height: auto;
}

.compliance-row{
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

img.compliance-step{
    /* display: inline-block; */
    width: auto;
    height: 250px;
    min-width: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
img.compliance-step.eight{
    /* width: 5.5%; */
}

.compliance-description {
    background-color: #33C590;;
    color: #fff;
    /* margin-bottom: 35px; */
    padding: 15px;
    border-radius: 4px;
    margin-top: 25px
}

/* OUR STORY */

.resources {
    text-align: center;
    padding-bottom: 50px;
}

.resources img{
    width: 85%;
}

.resources .divider{
    /* margin-top: 50px; */
    border-right: 2px solid #E5E5E5;
    /* height: 100px; */
}

.team {
    text-align: center;
    /* top: 0; */
}

.team-member {
    width: 100%;
    display: block;
    height: 100%;
    max-width: 175px;
    margin: 0 auto;
}

.team-member .name{
    font-weight: 700;
    border: 1px #b1b1b1 solid;
    border-radius: 4px;
    padding: 10px 0;
}

.team-member .title {
    font-size: 0.9em;
    color: #242424;
    margin-top: 10px;
}

.team-member img {
    background-color: #ACACAC;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.story-logo{
    max-width: 150px;
    margin: 0 auto;
    width: 100%;
}

.story-logo-wraper {
    width: 100%;
    display: inline-block;
    padding: 0 10px;
}
.story-logo-wraper:first-child {
    margin-left: 0;
}

/* Tiny devices (phones, 480px and up) */
@media (min-width: 768px) {
    .story-logo-wraper {
        width: 20%;
        display: inline-block;
        padding: 0 10px;
    }
    .story-logo-wraper:first-child {
        margin-left: 20%;
    }
}

/* INDUSTRIES SERVED */
.industr img{

}

/* HELPER CLASSES */
.spacer {
    height: 15px;
}
.spacer-sm {
    /* height: 5px; */
}
.spacer-lg {
    height: 40px;
}

/* HELPER MEDIA QUERRIES */
@media (max-width: 480px) {
    .hidden-tn {
        display: none !important;
    }
    .hero-content {
        margin-left: 3em;
        width: 90%;
    }
}

/* CUSTOM CONTAINER MAX WIDTHS */

@media (min-width: 576px) {
    /* change this, by default 540px */
     .container {
       max-width: 530px;
    }
    .team-member {
        width: 19%;
        display: inline-block;
    }
  }

  
  @media (min-width: 768px) {
    /* change this, by default 720px */
    .container {
    max-width: 710px;
    }
  }

  
  @media (min-width: 992px) {
    /* change this, by default 960px */
    .container {
      max-width: 950px;
    }
  }
  
  @media (min-width: 1200px) {
    /* change this, by default 1140px */
    .container {
      max-width: 970px;
    }
  }