/* HOVER EFFECTS */
.grow { transition: all .2s ease-in-out; 
    transform-origin: 50% 50%;}
.grow:hover { 
    transform: scale(1.15); 

}

.underline {
    position: relative;
}

.underline:before, .underline:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  .underline:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .underline:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .underline:hover:before, a:hover:after, a:focus:before, a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .underline:hover:before, a:focus:before {
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .underline:hover:after, a:focus:after {
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

/* LANDING PAGE */

body {
    background-color: #F6F6F6;
    font-family: 'Open Sans', sans-serif;
}

.landing-nav {
    /* height: 50px; */
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 20px;
}

.landing-menu {
    float: right;
    margin-top: 13px;
}
.landing-menu a{
    color: #fff;
    font-size: 15px;
}
.landing-menu a:last-child{
    margin: 0px 0px 0px 25px;
}
.landing-menu div{
    display: inline-block;
}
.landing-menu a:hover{
    text-decoration: none;
}

.hero-carousel {
    background-color: #000000;
    max-height: 900px;
    overflow: hidden;
}

.hero-carousel .slick-slide{
    position: relative;
}

.hero-carousel img{
    width: 100%;
    max-height: auto;
    opacity: 0.57;
}

.hero-carousel .slick-arrow{
    display: none;
}

.hero-content-wrapper{
    position: relative;
}
.hero-content {
    font-size: 8px;
    position: absolute;
    top: 25%;
    margin-left: 7em;
    color: #fff;
    width: 70%;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 500ms;
}

/* Tiny devices (phones, 480px and up) */
@media (min-width: 480px) {
    .hero-content { 
        font-size: 10px;
    }
    .landing-nav {
        padding: 40px;
    }
    .hero-carousel .slick-arrow{
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-content { 
        font-size: 13px;
    }
    .landing-nav {
        padding: 40px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero-content { 
        font-size: 15px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero-content { 
        font-size: 16px;
    }
}

.slick-active .hero-content {
    opacity: 1;
}

.hero-title {
    font-size: 5em;
    font-weight: 700;
}

.hero-description {
    margin-top: 0.7em;
    font-size: 2.3em;
    font-weight: 700;
}

.hero-dots {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: -20px;
}

.hero-dots li {
    /* text-indent: -9999px;
    overflow:hidden; */
    display: inline-block;
    background-color: #ffffff6c;
    height: 15px;
    width: 15px;
    top: -70px;
    z-index: 10;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.hero-dots li.slick-active {
    background-color: #ffffff;
}

.slick-prev, .slick-next { 
    position: absolute;
    z-index: 2;
    top: 45%;
    cursor: pointer;
}
.slick-prev:before, .slick-next:before {
    font-family: "Glyphicons Halflings", "slick", sans-serif;
    font-size: 40px;
    color: #fff;
}
.slick-prev:before { content: "\e257"; }
.slick-next:before { content: "\e258"; }
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}

.landing-section {
    position: relative;
    background-color: #fff;
    top: -40px;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.14);
    margin-bottom: 30px;
    padding: 25px;
}

.landing-bar {
    padding: 20px 5px 20px 5px;
}

.landing-bar-link {
    text-align: center;
    background-color: #3D9C9F;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}
.landing-bar-link:hover{
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.57);
    transform: translateY(-5px);
    /* transition: all 0.3s ease 0s; */
}
.landing-bar a:hover{
    text-decoration: none;
    color: #fff;
}

.landing-title-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.landing-title-line {
    border-bottom: #E5E5E5 solid 2px;
    width: 50px;
    display: inline-block;
    margin-bottom: 7px;
}

.landing-title {
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin: 0 5px 0 5px;
}

.landing-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #ACACAC;
    letter-spacing: 1px;
}

.services {
    margin-top: 40px;
}

.service {
    text-align: center;
}

.service-icon {
    max-height: 60px;
}

.service-title {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 700;
}

.service-description {
    margin-top: 10px;
    font-size: 14px;
}

.landing-sm-title {
    text-transform: uppercase;
    display: inline-block;
}

.landing-sm-line {
    margin-top: 7px;
    border-top: 1px solid #979797;
    max-width: 50px;
}

.landing-clients {
    padding: 10px 50px 10px 50px;
}

.landing-clients img{
    height: 50px;
    width: auto;
    margin: 0px 15px 0px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.client-arrow:before, .client-arrow:before {
    color: rgb(0, 0, 0);
}

.client-arrow.next{
    top: 10px;
}

.client-arrow.prev{
    top: 10px;
}


/* SUPPAGE */
.hero-subpage {
    max-height: 300px;
    overflow: hidden;
    background-color: #000000;
    position: relative;
}
.hero-subpage img {
    opacity: 0.6;
}

.subpage-description{
    text-align: center;
    font-size: 1.4em;
    padding: 2em;
}

.hero-subpage-content {
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.subpage-title {
    font-size: 2.5em;
    font-weight: 700;
}

.subpage-subtitle {
    font-size: 1.15em;
}

.subpage-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.14);
    margin-bottom: 30px;
    /* padding: 25px; */
}

.subpage-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card-content {
    text-align: center;
    padding: 15px 0px 15px;
}

.card-title {
    font-size: 18px;
}



/* HELPER MEDIA QUERRIES */
@media (max-width: 480px) {
    .hidden-tn {
        display: none;
    }
    .hero-content {
        margin-left: 3em;
        width: 90%;
    }
}
